@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {

  font-family: 'Indie Flower', cursive;
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  height: 100vh;
  border-bottom: gray solid 1px;

}


#home {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/src/home_bg.jpg);
  background-position: bottom;
  background-size: cover;

}


.home__text {
  border-right: solid 2px white;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
}

/* Animation */
.home__text {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 700ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 390px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #55CBCD;
  }

  to {
    border-right-color: transparent;
  }
}

.btn {
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background-color: #55CBCD;
}


.home__link {
  text-decoration: none;
  color: white;

}

.navbar {
  position: fixed;
  bottom: 0;
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 15px;
}

.nav__item {
  list-style: none;
  margin: 0 10px;

}

.navbar__nav:hover .nav__item:not(:hover) {
  filter: grayscale(1);

}

.nav__item:hover {
  filter: brightness(100%);
  transform: scale(1.5);
}

.nav--link {
  text-decoration: none;
  color: red;
  padding: 10px;
}

.nav--link img {
  width: 40px;
}

#introduction {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.introduction__img {
  width: 60%;
}

.introduction__img--dowload {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.introduction__text {
  font-size: 21px;
  line-height: 30px;
}

.introduction__text--download {
  text-align: center;
  margin-top: 100px;
}


#skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.skill__text {
font-size: 25px;
font-weight: bold;
text-decoration: underline;
}


.rotations{
  display: flex;
  flex-direction: row;;
}

#rotations__left, #rotations__right {

  margin-top: 100px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

#rotations__left{
  border-right: grey solid ;
}

#rotations__left #rotator{
   animation-delay: 1000ms;
}

#rotator {
  position: relative;
  width: 7rem;
  height: 9rem;
  animation: rotations 15s linear infinite; 
  border-radius: 50%;
  margin: 4rem;
  
}

@keyframes rotations {
  to {
    transform: rotate(360deg)
  }
}

#rotations__right #rotator{
  animation: left-rotations 15s linear infinite; 
}

@keyframes left-rotations  {
  to {
    transform: rotate(-360deg)
  }
}


#rotator::before,
#rotator::after {
  position: absolute;
  content: '';
  display: block;
  height: 3rem;
  width: 3rem;
  animation: inherit;
  animation-direction: reverse;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

#rotator::before {
  top: -.25rem;
  left: -.25rem;
}

#rotator::after {
  bottom: -.25rem;
  right: -.25rem;
}

/* Left icon rotation */

.rotations__left--1::before{  background-image: url(https://api.iconify.design/logos/html-5.svg);}
.rotations__left--1::after{ background-image: url(https://api.iconify.design/logos/css-3.svg);}


.rotations__left--2::before{  background-image: url(/src/icons/logo_javascript_color.png);}
.rotations__left--2::after{ background-image:  url(/src/icons/python.png);}

.rotations__left--3::before{  background-image: url(https://api.iconify.design/logos/bootstrap.svg);}
.rotations__left--3::after{ background-image: url(/src/icons/ruby.png);}

.rotations__left--4::before{  background-image: url(/src/icons/php.png);}
.rotations__left--4::after{ background-image: url(/src/icons/nodejs.png);}

.rotations__left--5::before{  background-image: url(https://api.iconify.design/logos/sass.svg);}
.rotations__left--5::after{ background-color:red;}

/* Right icon rotation */

.rotations__right--1::before{  background-image: url(/src/icons/figma.png);}
.rotations__right--1::after{ background-image: url(/src/icons/github.png);}


.rotations__right--2::before{  background-image: url(/src/icons/ubuntu.png);}
.rotations__right--2::after{ background-image: url(/src/icons/windows.png);}

.rotations__right--3::before{  background-image: url(https://api.iconify.design/logos/stackoverflow-icon.svg);}
.rotations__right--3::after{ background-image: url(https://api.iconify.design/bi/git.svg?color=%23f1502f);}

.rotations__right--4::before{  background-image: url(https://api.iconify.design/eos-icons/database-outlined.svg);}
.rotations__right--4::after{  background-image: url(https://api.iconify.design/logos/mdn.svg);}

.rotations__right--5::before{ background-image: url(https://api.iconify.design/logos/npm.svg);}
.rotations__right--5::after{  background-image: url(https://api.iconify.design/bi/wordpress.svg?color=%2321759b);}



/* CARD */

