@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html,
body {

  font-family: 'Indie Flower', cursive;
  margin: 0;
}

* {
  box-sizing: border-box;
  
}

h1,h2,h3{
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

section {
  height: 100vh;
  width: 100vw;
  border-bottom: gray solid 1px;

}


#home {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/src/home_bg.jpg);
  background-position: bottom;
  background-size: cover;

}

#home h1 {
  text-decoration: none;
}


.home__text {
  border-right: solid 2px white;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
}

/* Animation */
.home__text {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 700ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 390px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: #55CBCD;
  }

  to {
    border-right-color: transparent;
  }
}

.btn {
  padding: 6px;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background-color: #55CBCD;
}


.home__link {
  text-decoration: none;
  color: white;

}

.navbar {
  position: fixed;
  bottom: 0;
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 15px;
}

.nav__item {
  list-style: none;
  margin: 0 10px;

}

.navbar__nav:hover .nav__item:not(:hover) {
  filter: grayscale(1);

}

.nav__item:hover {
  filter: brightness(100%);
  transform: scale(1.5);
}

.nav--link {
  text-decoration: none;
  color: red;
  padding: 10px;
}

.nav--link img {
  width: 40px;
}

#introduction {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.introduction__img {
  width: 60%;
}

.introduction__img--dowload {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.introduction__text article, p{
  font-size: 21px;
  line-height: 30px;
}

.introduction__text article {
display: flex;
justify-content: space-evenly;
text-align: center;
margin-bottom: 60px;
}

.introduction__text article img{
  width: 50px;
}

article div {
 background-color: rgba(254, 145, 116, 0.5);
 padding: 0 10px;
 border-radius: 10%; 
 margin-top: 15px;
}

article div p:first-child {
font-weight: bold;
}
 
article div:nth-child(2n){
  background-color: rgba(253, 253, 90, 0.5);
}

article div:last-child{
  background-color: rgba(23, 53, 150, 0.5);
}



.introduction__text--download {
  text-align: center;
  margin-top: 60px;
}

/* EXPERTISE */

#expertise{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#expertise h2{
  margin-bottom: 60px;
}

.expertise__contents{
  display: flex;
}

#expertise article, #expertise aside{
  padding: 0 50px ;
}

#expertise aside{
  margin:  0 50px;
 text-align: center;
 border-radius: 10px;
  background-color: rgba(50, 145, 5, 0.5);
}

#expertise ul{
font-size: 23px;
line-height: 40px;
}

.skills{
  margin: 100px 0;
}

.skills__icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills__icons .icon {
font-size: 50px;
margin: 0 15px;
animation: float 3s linear infinite;
}


@keyframes float {
  0%{
    transform: translateY(5px);
    
  }
  25%{
    transform: translateY(10px);
  }

  100%{
    transform: translateY(5px);
  }
} 

/* #skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.skill__text {
font-size: 25px;
font-weight: bold;
text-decoration: underline;
}


.rotations{
  display: flex;
  flex-direction: row;;
}

#rotations__left, #rotations__right {

  margin-top: 100px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

#rotations__left{
  border-right: grey solid ;
}

#rotations__left #rotator{
   animation-delay: 1000ms;
}

#rotator {
  position: relative;
  width: 7rem;
  height: 9rem;
  animation: rotations 15s linear infinite; 
  border-radius: 50%;
  margin: 4rem;
  
}

@keyframes rotations {
  to {
    transform: rotate(360deg)
  }
}

#rotations__right #rotator{
  animation: left-rotations 15s linear infinite; 
}

@keyframes left-rotations  {
  to {
    transform: rotate(-360deg)
  }
}


#rotator::before,
#rotator::after {
  position: absolute;
  content: '';
  display: block;
  height: 3rem;
  width: 3rem;
  animation: inherit;
  animation-direction: reverse;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

#rotator::before {
  top: -.25rem;
  left: -.25rem;
}

#rotator::after {
  bottom: -.25rem;
  right: -.25rem;
} */




/* CARD Portfolio */
#portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio h2{
  margin-bottom: 60px;

}

#cards__container {
  display: flex;
  margin-bottom: 80px;
}

.card:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card {
  margin: 0 20px;
  width: 300px;
  padding: 8px;
  border-radius: 12px;
  background-color: #EAEFF1;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.2);
}

.card>img {
  width: 100%;
  border-radius: 12px;
  height: 224px;
}

.card__details{
  padding: 12px 8px 8px 8px;
}
.tag {
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.tag--html{
  background-color: #E44D26;
  color: white;
}

.tag--css{
  background-color: #254BDD;
  color: white;
}

.tag--js{
  background-color: #EFD81D;
  color: black;
}

.tag--bootstrap{
  background-color: #760EEF;
  color: white;
}

.tag--figma{
  padding: 0;
}

.tag .icon{
font-size: 20px;

}

.card__title {  
font-size: 24px;
font-weight: 600;
margin-top: 16px
}

.card__text { 
font-size: 14px;
color: #788697;
line-height: 130%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 10%;
  font-weight: 600;
  color: blue;
  background-color: #E0EFFF;  
  margin: 0 auto;
  display: block;
  cursor: pointer; 
  transition: all 200ms ease-in-out;
}

button:hover {
background-color: blue;
color: #E0EFFF;
}


/* Contact */
#contact {
  display: flex;
  flex-direction: column;
 justify-content: center;
}

#contact h2 {
  text-align: center;
  margin-bottom: 70px;
}

.contact__content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;;
}

.social-network {
display: flex;
flex-direction: column;
justify-content: center;
}

.social-network a {
text-decoration: none;
margin: 20px 0;
font-size: 60px;
color: black;
}


.adress::before, .phone::before, .mail::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin-right: 10px;
  
}

.adress::before{
    background-image: url(/src/icons/adresse.png);
}
.phone::before{  background-image: url(/src/icons/smartphones.png);
}

.mail::before{ background-image: url(/src/icons/e-mail.png);
}

#contact p{
 font-size: 25px;
}


.map iframe {
  width:800px;
}

/* FOOTER */


